# Kiva Dataset

In [3]:
import pandas as pd
# Load and explore main file

kiva_df = pd.read_csv("./data/kiva_loans.csv")
kiva_df.shape

(671205, 20)

In [4]:
kiva_df.head()

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01
1,653053,575.0,575.0,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:51:08+00:00,2013-12-17 08:00:00+00:00,2014-01-02 09:17:23+00:00,11.0,14,NaN,"female, female",irregular,2014-01-01
2,653068,150.0,150.0,Transportation,Transportation,To repair their old cycle-van and buy another ...,IN,India,Maynaguri,INR,334.0,2014-01-01 09:58:07+00:00,2013-12-17 08:00:00+00:00,2014-01-01 16:01:36+00:00,43.0,6,"user_favorite, user_favorite",female,bullet,2014-01-01
3,653063,200.0,200.0,Embroidery,Arts,to purchase an embroidery machine and a variet...,PK,Pakistan,Lahore,PKR,247.0,2014-01-01 08:03:11+00:00,2013-12-24 08:00:00+00:00,2014-01-01 13:00:00+00:00,11.0,8,NaN,female,irregular,2014-01-01
4,653084,400.0,400.0,Milk Sales,Food,to purchase one buffalo.,PK,Pakistan,Abdul Hakeem,PKR,245.0,2014-01-01 11:53:19+00:00,2013-12-17 08:00:00+00:00,2014-01-01 19:18:51+00:00,14.0,16,NaN,female,monthly,2014-01-01

### Country distribution

Visualize how loans are distributed by country.

In [23]:
%matplotlib inline
import plotly.graph_objs as go
import plotly.offline as py
py.init_notebook_mode(connected=True)

In [28]:
large_counts = kiva_df['country'].value_counts().head(50)
trace = go.Bar(
    y=large_counts.index[::-1],
    x=large_counts.values[::-1],
    orientation='h'
)
layout = go.Layout(
    title='Country Distribution of Loans',
    width=700,
    height=1000
)

figure = go.Figure(data=[trace], layout=layout)
py.iplot(figure, filename="CountryLoan")

In [20]:
large_counts.values[::-1]

array([  1639,   1703,   1870,   1934,   1945,   2230,   2313,   2409,
         2460,   2690,   3073,   3269,   3483,   3618,   3682,   3821,
         4034,   4167,   4374,   5219,   5415,   5741,   5749,   5774,
         6093,   6214,   6557,   6639,   6735,   7310,   7396,   8167,
         8631,   8792,   8806,  10136,  10843,  11237,  11781,  11903,
        13521,  19580,  20601,  21995,  22233,  26857,  34836,  39875,
        75825, 160441])